
read\.o
Debian1.0.vdi
a.out
a.exe
*.gch*
read
*.exe
commit_notes.txt
notes.txt
.vs/**
read.exe
.vscode/**
Test-fixed-1k.vdi
Test-dynamic-1k.vdi
Test-fixed-4k.vdi
output
vdi-hex-trunc-start-v2
kstar
hex-fixed
